<h2>The smallest in coins</h2>

<ul>
  <% change. each do |key, value|%>
    <li><%= value%> <%= key%></li>
  <% end%>
</ul>

<button class="button" type="button" onclick="window.location.href='/'">Try again</button>
