<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/pictures/coin.png">
    <title>The coin Exchange</title>
  </head>
  <body>

    <nav id="navbar">
      <div id="img">
        <img id="image" onclick="window.location.href='/'" src="/pictures/coins.png">
      </div>
      <div>
        <h1 onclick="window.location.href='/'">Coin Changer</h1>
      </div>
      <div id="hyperlinks">
        <a href="https://github.com/ssamuel56" target="_blank">Github</a>
        <a href="http://www.minedminds.org/" target="_blank">Mined Minds</a>
      </div>
    </nav>

    <div class="main-content">
      <%= yield%>
    </div>

    <br>

    <footer>
      <p>Try another app I made!</p>
      <a href="https://sams-random-student-pairing.herokuapp.com/" target="_blank">Student Pairing</a>&nbsp
      <a href="https://pizza-picker-app.herokuapp.com/" target="_blank">Pizza Picker</a>
    </footer>

  </body>
</html>
