body {
  color: purple;
  text-align: center;
  font-size: 1.8vw;
  width: 80%;
  height: auto;
  margin: auto;
  padding-bottom: 4vw;
  background: #c3cfe2 no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-size: 3.4vw;
  position: relative;
  bottom: 1.5vw;
}

h1:hover {
  cursor: pointer;
}

nav {
  border-bottom: 1vw dotted purple;
  margin-bottom: 2vw;
}

nav > div {
  display: inline-flex;
  padding-left: 1em;
  padding-right: 1em;
}

nav > div > a {
  position: relative;
  bottom: 1.5vw;
}

a{
  color: purple;
}

ul {
  list-style: none;
  margin-right: 2vw;
  font-size: 2vw;
}

button {
  color: purple;
  font-size: 2vw;
  background: none;
  border-style: none;
  border-bottom: .4vw solid purple;
}

button:hover {
  color: pink;
  cursor: pointer;
}

input[type=submit]{
  color: purple;
  border-style: none;
  background: none;
  font-size: 2vw;
}

input[type=submit]:hover {
  cursor: pointer;
}

input[type=number]{
  font-size: 2vw;
  border-style: none;
  width: 15vw;
  height: 2vw;
  background: none;
  border-bottom: .1vw solid purple;
  text-align: center;
}

input[type=number]:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
   -moz-appearance: textfield;
 }

 ul {
   font-size: 4vw;
   margin-right: 8vw;
 }

img{
  width: 10vw;
  height: 10vw;
  position: relative;
  top: 2vw;
}

img:hover {
  cursor: pointer;
}

#img {
  max-width: 100%;
}

.main-content {
  width: 50%;
  margin: auto;
  padding-bottom: 3vw;
  border: .2vw solid #cd9cf2;
  border-radius: 15px;
box-shadow: 0px 10px linear-gradient(to right, #cd9cf2 0%, #f6f3ff 100%);
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

#hyperlinks > a {
  padding-left: .3em;
  padding-right: .3em;
}

@media screen and (max-width: 1080px) {
  body{
    font-size: 4vw;
  }

  p {
    font-size: 6vw;
  }


  img {
    max-width: 0%;
    display: none;
  }

  h1 {
    font-size: 10vw;
    position: relative;
    right: 4vw;
  }

  nav {
    margin-bottom: 8vw;
  }

  ul {
    font-size: 7vw;
  }

  button {
    font-size: 4vw;
  }

  input[type=number]{
    font-size: 5vw;
    width: 40vw;
    height: 10vw;
    border-spacing: 4vw;
  }

  input[type=submit]{
    padding-top: 5vw;
    font-size: 5vw;
  }

  a {
    font-size: 5.5vw;
  }

  .main-content {
    width: 100%;
    height: 75vw;
    margin-bottom: 8vw;
  }

}
