body {
  color: black;
  text-align: center;
  font-size: 1.8vw;
  width: 80%;
  height: 100vh;
  margin: auto;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-size: 3.4vw;
  position: relative;
  bottom: 1.5vw;

}

nav {
  border-bottom: 1vw dotted #c79081;
  margin-bottom: 2vw;
}

nav > div {
  display: inline-flex;
  padding-left: 1em;
  padding-right: 1em;
}

nav > div > a {
  position: relative;
  bottom: 1.5vw;
}

a{
  color: #dfa579;
}

ul {
  list-style: none;
  margin-right: 2vw;
  font-size: 2vw;
}

input[type=submit]{
  border-style: none;
  background: none;
  font-size: 2vw;
}

input[type=submit]:hover {
  cursor: pointer;
}

input[type=number]{
  font-size: 2vw;
  border-style: none;
  width: 15vw;
  height: 2vw;
  background: none;
  border-bottom: .1vw solid black;
  text-align: center;
}

input[type=number]:focus {
  outline: none;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

img{
  width: 10vw;
  height: 10vw;
}

img:hover {
  cursor: pointer;
}

#img {
  max-width: 100%;
}


.main-content {
  width: 50%;
  margin: auto;
  padding-bottom: 5em;
  border: .2vw solid #ffbb99;
  border-radius: 15px;
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

#hyperlinks > a {
  padding-left: .3em;
  padding-right: .3em;
}

@media screen and (max-width: 1080px) {
  body{
    font-size: 3vw;
  }

  h1 {
    font-size: 4vw;
  }

  nav {
    margin-bottom: 8vw;
  }

  .main-content {
    margin-bottom: 8vw;
  }

}
